@{
    ViewBag.Title = "Information Technology Services USA, UK, Australia | Successful Journey of Seawebtech Solutions";
}

@section Header {
     <title>@ViewBag.Title </title>
    <meta name='keywords' content="SEAWEBTECH's Story, Work Process at SEAWEBTECH Solutions, Why hire SEAWEBTECH Solutions" />
    <meta name='description' content="Get a glimpse of our successful journey over the last @(DateTime.Now.Year - 2011) years and hire us to markup your upcoming projects with the latest technologies." />
    <meta name="abstract" content="Software Companies in India, CMS Development India, Web Designing and SEO Services" />
    <meta name="key-phrases" content="CMS Development India, Mobile App Development India" />
    <meta name="classification" content="Software Development Companies" />
    <meta name="distribution" content="global" />
    <meta name="publisher" content="http://www.seawebtech.com" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="http://www.seawebtech.com" />
    <meta name="language" content="en-gb" />
    <meta name="rating" content="General" />
    <meta name="audience" content="All" />
    <meta name="revisit-after" content="7 days" />
}
<div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">About Us</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>About Us</h1>
            <div class="content-page">
              <div class="row margin-bottom-30">
                <!-- BEGIN INFO BLOCK -->               
                <div class="col-md-7">
                  @*<h2 class="no-top-space">Vero eos et accusamus</h2>*@
                  <p>Seawebtech Solutions, based in Mohali, INDIA, is a unique website design and development company providing innovative business solutions around the globe since 2011. We help companies use the Internet as a powerful tool to serve customers better and transform their businesses.</p> 
                  <p>Seawebtech Solutions was founded with a team of entrepreneurs, marketing experts, developers and designers with @(DateTime.Now.Year - 2011) years collaborative experience in the IT web solutions industry.</p>
                  <!-- BEGIN LISTS -->
                  <div class="row front-lists-v1">
                    <div class="col-md-6">
                      <ul class="list-unstyled margin-bottom-20">
                        <li><i class="fa fa-check"></i>Responsive Web Design</li>
                        <li><i class="fa fa-check"></i>Web Development </li>
                        <li><i class="fa fa-check"></i>Mobile App Development</li>
                      </ul>
                    </div>
                    <div class="col-md-6">
                      <ul class="list-unstyled">
                        <li><i class="fa fa-check"></i>Internet Marketing</li>
                        <li><i class="fa fa-check"></i>eCommerce Systems </li>
                        <li><i class="fa fa-check"></i>Web CMS Hosting & Training</li>
                      </ul>
                    </div>
                  </div>
                  <!-- END LISTS -->
                </div>
                <!-- END INFO BLOCK -->   

                <!-- BEGIN CAROUSEL -->            
                <div class="col-md-5 front-carousel">
                  <div id="myCarousel" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img src="Content/ProjectsImages/thegeniedeal.jpg" style="height:285px" alt="">
                        <div class="carousel-caption">
                          <p>Free Classifieds Site in Chandigarh  <a href="http://www.thegeniedeal.com/" target="_blank" style="color:blue"> The Genie Deal</a> </p>
                        </div>
                      </div>
                      <div class="item">
                        <img src="Content/ProjectsImages/ezy_import.jpg" style="height:285px" alt="ezy import">
                        <div class="carousel-caption">
                          <p>With the help of ezy import software user can import data in any database <a href="ezyImport.rar" target="_blank" style="color:blue"> Download</a></p>
                        </div>
                      </div>
                    @*  <div class="item">
                        <img src="Content/assets/frontend/pages/img/pics/img2-medium.jpg" alt="">
                        <div class="carousel-caption">
                          <p>Ut non libero consectetur adipiscing elit magna</p>
                        </div>
                      </div>*@
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                      <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>                
                </div>
                <!-- END CAROUSEL -->
              </div>

              <div class="row margin-bottom-40">
                <!-- BEGIN TESTIMONIALS -->
                <div class="col-md-7 testimonials-v1">
                  <h2>Clients Testimonials</h2>                
                  <div id="myCarousel1" class="carousel slide">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                      <div class="active item">
                        <blockquote><p>seawebtech's Team is very friendly, easy to communicate with, and has good programming skills.I will be using him immediately for more work.</p></blockquote>
                        <div class="carousel-info">
                          <img class="pull-left" src="Content/ClintesImages/Don_Pearsall.png" alt="Don_Pearsall">
                          <div class="pull-left">
                            <span class="testimonials-name">Don Pearsall</span>
                            <span class="testimonials-post">United States</span>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <blockquote><p>We hereby are writing this letter of appreciation for your work done for our android based news application.</p></blockquote>
                        <div class="carousel-info">
                          <img class="pull-left" src="Content/ClintesImages/AjitNews.png" alt="">
                          <div class="pull-left">
                            <span class="testimonials-name">Ajit News</span>
                            <span class="testimonials-post">Punajb (INDIA)</span>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <blockquote><p>Great work. Worked well as a team. Appreciate your effort. Thank you.</p></blockquote>
                        <div class="carousel-info">
                          <img class="pull-left" src="Content/ClintesImages/yusno.png" alt="">
                          <div class="pull-left">
                            <span class="testimonials-name">Yusno Yunos</span>
                            <span class="testimonials-post">Malaysia</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="left-btn" href="#myCarousel1" data-slide="prev"></a>
                    <a class="right-btn" href="#myCarousel1" data-slide="next"></a>
                  </div>
                </div>
                <!-- END TESTIMONIALS --> 

                <!-- BEGIN PROGRESS BAR -->
                <div class="col-md-5 front-skills">
                  <h2 class="block">Our Skills</h2>
                  <span>UI Design 99%</span>
                  <div class="progress">
                    <div role="progressbar" class="progress-bar" style="width: 99%;"></div>
                  </div>
                  <span>Asp.Net Development 99%</span>
                  <div class="progress">
                    <div role="progressbar" class="progress-bar" style="width: 99%;"></div>
                  </div>
                  <span>HTML/CSS &amp; PHP 90%</span>
                  <div class="progress">
                    <div role="progressbar" class="progress-bar" style="width: 90%;"></div>
                  </div>
                 <span>Mobile App Development 98%</span>
                  <div class="progress">
                    <div role="progressbar" class="progress-bar" style="width: 98%;"></div>
                  </div>
                </div>                       
                <!-- END PROGRESS BAR -->
              </div>
             
                @*call _aboutTeam.cshtml hear*@

            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
@section scripts{

   <script type="text/javascript">
       jQuery(document).ready(function () {
           activemenu('About');
           

        });
    </script>
}