@{
    ViewBag.Title = "Single Page Applications(SPA), Single Page Web Applications Development - Seawebtech Solutions";
}

@section Header {
     <title>@ViewBag.Title </title>
    <meta name='keywords' content="Single Page Website Development, Single Page Web applications development company, Single Page Web applications Development, Single Page Web applications development companies" />
    <meta name='description' content="SEAWEBTECH is one of the best Single Page Web Development Company in Mohali (INDIA). We help startups in building custom Single Page Web applications by leveraging the best development practices." />
    <meta name="abstract" content="Software Companies in India, Single Page Development, Web Designing and SEO Services" />
    <meta name="key-phrases" content="Best Single Page Web Developmentnt Companies in India, Mobile App Developmentnt India" />
    <meta name="classification" content="Software Developmentnt Companies" />
    <meta name="distribution" content="global" />
    <meta name="publisher" content="http://www.seawebtech.com" />
    <meta name="robots" content="index,follow" />
    <meta name="author" content="http://www.seawebtech.com" />
    <meta name="language" content="en-gb" />
    <meta name="rating" content="General" />
    <meta name="audience" content="All" />
    <meta name="revisit-after" content="7 days" />
}
<div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Single Page Development</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
          <!-- BEGIN CONTENT -->
          <div class="col-md-12 col-sm-12">
            <h1>Single Page Applications</h1>
            <div class="content-page">
              <div class="row margin-bottom-30">
                <!-- BEGIN INFO BLOCK -->               
                <div class="col-md-7">
                  <p>A Single Page Application (SPA) is a different way of building HTML 5 applications from traditional Web page development. Instead of spreading the functionality of your Web applications across a collection of separate Web pages with hyperlinks between them, you instead define a single root page that the user lands on and never leaves as long as they are working with your application. You define client-side logic that switches out the data and chunks of content within that page to allow the user to navigate from logical screen to logical screen without ever leaving the page. This means that the user never sees a full page refresh while using your application. They see portions of the screen change based on their interaction, and those changes can be done in a more fluid way with transitions to enhance the user experience. You can also support using the application while offline by storing data client-side, based on some of the newer APIs of HTML 5. Taking this approach makes an SPA feel very much like a desktop application to the end user.</p>
                     <h2>Why Single Page Application?</h2>
                       <div class="row front-lists-v1">
                    <div class="col-md-6">
                      <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check"></i>No Page Refresh </li>
                          <li><i class="fa fa-check"></i> Quality Over Quantity</li>
                          <li><i class="fa fa-check"></i>Better Google PageRank</li>
                      </ul>
                    </div>
                       <div class="col-md-6">
                      <ul class="list-unstyled margin-bottom-20">
                          <li><i class="fa fa-check"></i>Mobile Preferred</li>
                      <li><i class="fa fa-check"></i>Stand Out From The Crowd</li>
                        <li><i class="fa fa-check"></i>Speed Up</li>
                      </ul>
                    </div>
                  </div>
                    <h2>Tools That We Use</h2>
                    <div class="row front-lists-v1">
                    <div class="col-md-6">
                      <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check"></i>Angularjs </li>
                          <li><i class="fa fa-check"></i>Node js</li>
                          <li><i class="fa fa-check"></i>Ember.js</li>
                               <li><i class="fa fa-check"></i>AJAX</li>
                       
                    
                      </ul>
                    </div>
                       <div class="col-md-6">
                      <ul class="list-unstyled margin-bottom-20">
                          <li><i class="fa fa-check"></i>Visual Studio 2015</li>
                      <li><i class="fa fa-check"></i>SQL Server</li>
                        <li><i class="fa fa-check"></i>C#.net/VB.net </li>
                        <li><i class="fa fa-check"></i>Cloud Database</li>
                      </ul>
                    </div>
                  </div>
                     
                </div>

                <!-- END INFO BLOCK -->   

                <!-- BEGIN CAROUSEL -->            
                <div class="col-md-5 front-carousel">
                     <img src="Content/ProjectsImages/spa.png"  alt="Single Page Applications">                
                </div>
                <!-- END CAROUSEL -->
              </div>

              

            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
      </div>
@section scripts{

   <script type="text/javascript">
       jQuery(document).ready(function () {
           activemenu('Services');

        });
    </script>
}